<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="batchSuiteTest">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Event.UpdateEventTest"/>
      <class name="Lesson.PersonalInfoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- batchSuiteTest -->
